Backend/obj/Debug/net10.0/Backend.AssemblyInfo.cs
Backend.Tests/obj/Debug/net10.0/Backend.Tests.csproj.AssemblyReference.cache
Backend.Tests/obj/Debug/net10.0/Backend.Tests.AssemblyInfoInputs.cache
Backend.Tests/obj/Debug/net10.0/Backend.Tests.AssemblyInfo.cs
Backend/bin/Debug/net10.0/Backend.dll
Backend/bin/Debug/net10.0/Backend.dll
Backend/bin/Debug/net10.0/Backend.pdb
Backend/obj/Debug/net10.0/Backend.AssemblyInfo.cs
Backend/obj/Debug/net10.0/Backend.AssemblyInfoInputs.cache
Backend/obj/Debug/net10.0/Backend.dll
Backend/obj/Debug/net10.0/Backend.sourcelink.json
Backend/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
Backend/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
Backend/obj/Debug/net10.0/refint/Backend.dll
Backend/obj/Debug/net10.0/.DS_Store
